<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/ejemplo2017/producto" method="post"> 
            <div> 
                <label for="descripcion">Descripcion</label>  
                <input type="text" name="descripcion" id="descripcion"> 
            </div> 
            <div> 
                <label for="fechaVencimiento">FechaVencimiento</label> 
                <input type="date" name="fechaVencimiento" id="fechaVencimiento"> 
            </div> 
            <div> 
                <label for="precio">Precio</label> 
                <input type="number" name="precio" id="precio"> 
            </div> 
            <div> 
                <label for="cantidad">Cantidad</label> 
                <input type="number" name="cantidad" id="cantidad"> 
            </div> 
            
            <div> 
                <input type="submit" value="Enviar"> 
            </div> 
        </form>

</body>
</html>